body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

  /* Barra de Navegacion */
  .navbar{
    padding-left: 50px;
    padding-right: 50px;
  }
   /* 
  .navbar button :hover{
    background-color: #FFA425 !important;
    border-color: #FFA425 !important;  
  } 
 
   .navbar button :hover{
    background-color: #FFA425 !important;
  }  */
  
  #ul-navbar{
    margin: 0px 10px;
  }
  
  
  #ul-navbar li{
    margin: 0px 55px;
    /*  font-size: 1.1em;*/
  
  }

  #img-usuario{
    max-width: 40px;
    max-height: 40px;
  }

  #nav-der li{
    margin: 0px 10px;
  }
  
/*   #ul-navbar li :hover{
    color: #FFA425;
  } */
  
/*   .btn-navegacion{
    text-decoration: none;
    color: #FFF;
    background-color: #FFA425;
  }
  .btn-navegacion a{
    text-decoration: none;
    color: #FFF;
    background-color: #FFA425;
  }
  
  .btn-navegacion :hover{
    text-decoration: none;
    background-color: #008BC8;
    color: #1069D6;
  } */
  
  
  .bg-dark {
    background-color: #2F3D3F !important;
  }
  
  
  #img-logo{
    max-width: 110px;
    max-height: 200px;
  } 

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
